{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock head %}

{% block all %}

<div id="registration" class="panel panel-default">
<div class="panel-heading"><h1>Login</h1></div>
{% if form.errors %}
<p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<p> {{ form.username.label_tag }} {{ form.username}}</p>
<p>{{ form.password.label_tag }} {{ form.password }}</p>

<p>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</p>

</form>

</div>
{% endblock all %}
