/* base */

#container {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.clear {
    clear: both;
}
/* header */

#header {
    display: flex;
    flex: initial;
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    border-bottom: 1px solid #ddd;
}
#header div {
    padding: 4px;
}
#header div h1 {
    margin: 0 4px;
    font-size: 22px;
    color: #b7337a;
}
#header div input {
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 5px;
}

/* main part (below header) */

#big-part {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    min-height:0; /* hack for firefox */
}

/* artists */

#artists {
    flex: 1;
    overflow-y: scroll;
    border-right: 1px solid #ddd;
}
#artists-list {
    margin-left: 40px;
    font-size: 12px;
}
#navigation {
    background: #efefef;
    width: 30px;
    height: 100%;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
}
#navigation li a {
    width: 100%;
    text-align: center;
    padding: 3px 0px;
    display: block;
}
#navigation li a:hover {
    background: #afafaf;
}
#navigation li.active > a {
    background: #aaaaaa;
    font-weight: 400;
}

/* Middle part */

#middle-right {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: space-between;
}
#content-meta {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: space-between;
    min-height:0; /* hack for firefox */
}

/* content */

h2 {
    font-size: 22px;
}
#content {
    flex: 2;
    overflow-y: scroll;
    padding: 15px;
}
#content .album-cover {
    float: right;
}
#content .album .album-cover img {
    width: 200px;
}

/* meta */

h3 {
    font-size: 20px;
}
#meta {
    padding: 15px;
    flex: 1;
    overflow-y: scroll;
    border-left: 1px solid #ddd;
}
#last_played .album-cover  {
    float: right;
}
#last_played .last-played-info {
    float: left;
}
#last_played .last-played-item {
    margin: 0px 0px 20px 0px;
}
#last_played .album-cover img {
    width: 40px;
}

/* extra */

.extra {
    padding: 15px;
    flex: 1;
    overflow-y: scroll;
    border: 1px solid #dfdfdf;
    background: #efefef;
}

/* player */

#player-container {
    border: 1px solid #dfdfdf;
    background: #efefef;
    display: flex;
    align-items: center;
}
#player-container div,
#player-container audio {
    margin: 3px 5px;
}
#player-selector {
    font-size: 14px;
}
#player-selector label {
    margin: 0;
}
#client-control {
    display: none;
    font-size: 20px;
    align-items: center;
}

/* playlist */

#playlist {
    flex: 3;
    overflow-y: scroll;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    font-size: 12px;
    padding: 3px;
}
.playing {
    font-weight: bold;
}
#playlist #actions {
    min-width: 40px;
}

/* album covers */

.album .album-cover img {
    width: 200px;
}

/* album colours */

.albumtype-compilation a {
  color: #ab3;
}
.albumtype-single a {
  color: #3a3;
}
.albumtype-ep a {
  color: #3aa;
}
.albumtype-live a {
  color: #a3a;
}
.albumtype-soundtrack a {
  color: #a33;
}

/* new album part */

#new-albums {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.new-album-item {
  text-transform: uppercase;
  width: 190px;
  height: 190px;
  overflow: hidden;
  margin-bottom: 10px;
}
.new-album-item .thumbnail {
  width: 190px;
  height: 190px;
} 
.new-album-item .caption {
  position: relative;
  top: -100px;
  background-color: rgba(30, 30, 30, 0.3);
  margin: 0px 5px;
  padding: 1px 3px 0px;
  float: left;
  width: 180px;
}
.new-album-item .caption h3 {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  float: right;
  text-align: right;
}
.new-album-item .caption h4 {
  font-size: 11px;
  margin: 5px 0px 0px;
  float: right;
  text-align: right;
  clear: both;
}
.new-album-item .caption p {
  text-align: left;
  font-size: 10px;
  padding: 5px 0px 0px;
  float: left;
}
.new-album-item a {
  color: #efefef;
}
.new-album-item a:hover {
  color: #aaa;
}
.pagination {
    display: flex;
    justify-content: center;
}
