{% load static %}
<html>
<head>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />

    <link rel="stylesheet" href="{% static 'menosic.css' %}">

    <script>
        // menosic variables
        var search_url = "{% url 'search' %}";

        // websocket variables
        var local_player = Math.random().toString(36).replace(/[^a-zA-Z0-9]+/g, '').substr(0, 10);
        var key = "{{ user.id }}";
        var playlist_url = "{% url 'playlist' %}";
        var playlist = {{ playlist.id }};
        var ws_url = "{{ ws_url }}";
        var ws;
    </script>
    <script src="{% static 'menosic.js' %}"></script>

</head>

<body>

{% block all %}
<div id="outer-container">
    <div id="header">
        <div id="header_left">
            <h1><i class="glyphicon glyphicon-music"></i>Menosic</h1>
        </div>
        <div id="header_right">
            <a class="to_content" href="{% url "settings:detail" %}"><i class="glyphicon glyphicon-wrench"></i></a>
            <label for="seachbox" class="glyphicon glyphicon-search"></label>
            <input id="searchbox" name="search" type="text" />
        </div>
    </div>
    <div id="outer-content-container" class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-3" id="artists" data-spy="scroll" data-target="#navigation">
                <div id="navigation" class="affix">
                  <ul class="nav">
                    <li class="bottom-buffer"><a class="external" href="{% url "random_album" %}"><i class="glyphicon glyphicon-random"></i></a></li>
                    <li class="bottom-buffer"><a class="external" href="{% url "new_albums" %}"><i class="glyphicon glyphicon-plus"></i></a></li>
                  {% for letter in letters %}
                    <li><a href="#{{ letter }}">{{ letter }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                <div id="artists-list">
                  <h2>Artists</h2>
                  <ul class="nav nav-sidebar">
                    {% for artist in artists %}
                    {% ifchanged artist.sortkeyname.0 %}
                        </ul>
                        <span id="{{ artist.sortkeyname.0 }}">{{ artist.sortkeyname.0 }}</span>
                        <ul>
                    {% endifchanged %}

                    <li><a href="{{ artist.url }}">{{ artist.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-6" id="content-container">
                <div id="content" class="padding">
                        <h1>Welkom</h1>
                        <p>Please select a track</p>
                </div>
                <div id="playlist-container">
                    <div id="player-container">
                        <div id="player-selector">
                            <label for="players">Play on:</label>
                            <select id="players"></select>
                        </div>
                        <audio controls id="player">
                            <source id="mp3" type="audio/mpeg" />
                            <source id="ogg" type="audio/ogg" />
                            Your browser does not support the audio tag!
                        </audio>
                        <div id="client-control">
                            <i id="client_pause" class="glyphicon glyphicon-pause"></i>
                            <i id="client_next" class="glyphicon glyphicon-fast-forward"></i>
                        </div>
                    </div>
                    <div id="playlist" class="padding">
                        {% include 'music/playlist.html' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 padding" id="meta">
                <h2>Meta</h2>
                <div id="last_played">
                </div>
            </div>

        </div>
    </div>
<div>
{% endblock all %}

</body>
</html>
