{% extends 'base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ block.super }}
{% endblock head %}

{% block all %}

    <div id="container">
        <div id="header">
            <div>
                <h1><i class="glyphicon glyphicon-music"></i> Menosic</h1>
            </div>
        </div>
        <div id="big-part">
            <div id="middle-right">
                <div id="content-meta">
                    <div id="playlist">
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Artist</th>
                                <th>Album</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for pt in playlist.tracks %}
                            <tr id="{{ pt.identifier }}" {% if pt.identifier == current %}class="playing"{% endif %}>
                                <td><a class="to_player" mp3="{{ pt.track.get_mp3_url }}" ogg="{{ pt.track.get_ogg_url }}">{{ pt.track.title }}</a></td>
                                <td>{{ pt.track.artist }}</td>
                                <td>{{ pt.track.album.title }}</td>
                                <td>{{ pt.track.duration }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                <div id="player-container">
                    <audio controls id="player">
                        <source id="mp3" type="audio/mpeg" />
                        <source id="ogg" type="audio/ogg" />
                        Your browser does not support the audio tag!
                    </audio>
                    <div id="client-control">
                        <i id="client_pause" class="glyphicon glyphicon-pause"></i>
                        <i id="client_next" class="glyphicon glyphicon-fast-forward"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock all %}
