<a href="{{ album.artists.all.0.get_absolute_url }}">{{ album.artists.all.0.name }}</a> / {{ album.title }}

<div class="album">
  {% if album.cover %}
  <div class="album-cover">
    <img src="{% url 'cover' album.pk %}">
  </div>
  {% endif %}
  <h1>{{ album.title }}</h1>
</div>
<p><a class="to_playlist" href="{% url 'add_album' album.id %}">+ add album to playlist</a></p>


<table class="table table-hover">
<thead>
    <tr>
        <th>Add</th>
        <th>#</th>
        <th>Title</th>
        <th>Duration</th>
    </tr>
</thead>
<tbody>
{% for track in album.track_set.all %}
    {% ifchanged track.discnumber %}
    <tr>
        <th colspan="4">Disc {{ track.discnumber }}</th>
    </tr>
    {% endifchanged %}
    <tr>
        <td><a class="to_playlist" href="{% url 'add_track' track.id %}">+ add</a></td>
        <td>{{ track.tracknumber }}</td>
        <td><a class="to_playlist" href="{% url 'play_album_track' track.id %}">{{ track.title }}</a>
        <td>{{ track.duration }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
