<a href="{{ album.artist.get_absolute_url }}">{{ album.artist.name }}</a> / {{ album.title }}

<div class="album">
  {% if album.cover %}
  <div class="album-cover">
    <img src="{% url 'music:cover' album.pk %}">
  </div>
  {% endif %}
  <h2>{{ album.title }}</h2>
</div>
<p><a class="to_playlist" href="{% url 'music:add_album' album.id %}"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-th-list"></i> add whole album to playlist</a></p>


<table class="table table-hover">
<thead>
    <tr>
        <th>Add</th>
        <th>#</th>
        <th>Title</th>
        <th>Duration</th>
    </tr>
</thead>
<tbody>
{% for track in album.track_set.all %}
    {% ifchanged track.discnumber %}
    <tr>
        <th colspan="4">Disc {{ track.discnumber }}</th>
    </tr>
    {% endifchanged %}
    <tr>
        <td><a class="to_playlist add_to_playlist" href="{% url 'music:add_track' track.id %}"><i class="glyphicon glyphicon-plus"></i></a></td>
        <td>{{ track.tracknumber }}</td>
        <td><a class="to_playlist" href="{% url 'music:play_album_track' track.id %}">{{ track.title }}</a>
        <td>{{ track.duration }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
