<table class="table table-hover">
<thead>
    <tr>
        <th id='actions'></th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Duration</th>
    </tr>
</thead>
<tbody>
{% for pt in playlist.tracks %}
    <tr id="{{ pt.identifier }}" {% if pt.identifier == current %}class="playing"{% endif %}>
        <td>
            <a class="to_playlist" href="{% url 'music:edit_playlist_track' pt.id 'remove' %}"><i class="glyphicon glyphicon-trash"></i></a>
            <a class="to_playlist" href="{% url 'music:edit_playlist_track' pt.id 'up' %}"><i class="glyphicon glyphicon-menu-up"></i></a>
            <a class="to_playlist" href="{% url 'music:edit_playlist_track' pt.id 'down' %}"><i class="glyphicon glyphicon-menu-down"></i></a>
        </td>
        <td><a class="to_player" mp3="{{ pt.track.get_mp3_url }}" ogg="{{ pt.track.get_ogg_url }}">{{ pt.track.title }}</a></td>
        <td>{{ pt.track.artist }}</td>
        <td>{{ pt.track.album.title }}</td>
        <td>{{ pt.track.duration }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
